/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */
body {
  box-sizing: content-box;
  width: auto;
 margin:auto;
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #ece39f;
}

#mainTitleBio{
  background-color: burlywood;
  padding: 20px;
  text-align: center;
  margin: auto;
}

#figure{
  position: relative;
  padding-right: 11px;
}

#main-bio,#figure{
  float: left;
}

#main-bio{width: 66%;}
#contact-info{
  font-size:16px ;
  width: 100%;}


#bio-name{
  position: absolute;
  bottom:0%;
  left:2%;
  bottom: -5%;
  font-size: 18px;
}






